body {
	padding: 0;
	margin: 0;
}

#spanNoSeleccion {
	align-self: center;
	justify-self: center;
}

.noMostrar {
	display: none;
}

.colorFuncion {
	color: hsl(190, 81%, 67%);
}

.colorVariable {
	color: hsl(60, 36%, 96%);
}

.colorString {
	color: hsl(54, 70%, 68%);
}

.colorClave {
	color: hsl(338, 95%, 56%);
}

.colorExtra {
	color: hsl(261, 100%, 75%);
}

.colorSubtitulo {
	color: yellowgreen;
}

.miFuente {
	font-family: monospace;
	font-weight: 500;
	font-size: 15px;
	color: white;
}

.centrar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.vertical {
	flex-direction: column;
}

.vertical-left {
	flex-direction: column;
	align-items: flex-start;

	padding: 10px 20px 10px 20px;
}

.divContenedorPrincipal {
	min-height: 100vh;
	background-color: #1d2a35;

	align-items: flex-start;
}

.divCodigo {

	min-height: 30px;
	box-sizing: border-box;
	width: 100%;

	background-color: rgb(21,32,43);
	border-left: solid 3px rgba(0, 0, 0, 0.3);

	margin: 20px;

	color: white;

	align-self: center;
}

.infoGeneral {
	width: 800px;
	min-height: 100px;
	background-color: #282A35;
	border: solid 1px white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	margin: 50px 20px 40px 20px;

	padding: 20px;

	align-items: flex-start;
}

.infoFiltro {
	width: 800px;
	min-height: 100px;
	background-color: #282A35;
	border: solid 1px white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	margin: 0px 20px 50px 20px;

	padding: 20px;

	align-items: flex-start;
}

.divMenu {
	min-width: 200px;
	background-color: #282A35;
	border: solid 1px white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	margin: 50px 20px 50px 20px;
}

.divMenu ul {
	margin: 20px 40px 20px 20px;
}

ul li:hover {
	cursor: pointer;
	color: crimson;
}

.iluminar {
	color: crimson;
}

.titulo {
	padding-left: 10px;
}

a {
	color: hsl(190, 81%, 67%);
	text-decoration-line: none;
}